:root{
    --color-principal: #210124;
    --color-principal-sombra: #17011a;
    --color-secundario: #750D37;
    --color-resalta: white;

    --color-fuente-principal: white;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

span{
    margin: 0 5px;
}

/* ------------------------- Main ------------------------------- */
#main{
    color: var(--color-fuente-principal);
    display: block;
    background: var(--color-principal);
    background-size: cover;
    height: 100vh;
}
    #contenido-main{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
    }
        section{
            padding: .5rem 1rem;
        }

/* ------------------------- Primera seccion ------------------------------ */
#primera-seccion{
    height: auto;
    display: flex;
    text-align: end;
    justify-content: space-between;
    font-size: 1.3rem;
}

/* ------------------------- left-section ------------------------------ */
#left-section{
    background-color: var(--color-secundario);
    display: flex;
    padding: 1rem;
    filter: drop-shadow(10px 10px var(--color-principal-sombra));
    border-radius: 1rem;
}
    #left-section #contenedor-info{
        display: flex;
    }
        #contenedor-info #info-temperatura{
            display: flex;
            flex-direction: column;
            border-radius: 1rem;
            margin-right: 1rem;
        }
            #info-temperatura #info-temperatura-pri{
                display: flex;
            }
                #info-temperatura-pri > div{
                    display: flex;
                }
                    #info-temperatura-pri > div > h1{
                        align-self: center;
                    }
                    #info-temperatura-pri > div > div{
                        margin-top: .3rem;
                    }
            /* #info-temperatura #info-temperatura-sec{
            } */
                #info-temperatura-sec > ul > li{
                    display: flex;
                }

        #contenedor-info #info-varios{
            display: flex;
        }
            #info-varios > ul{
                display: flex;
                flex-direction: column;
                margin-top: .3rem;
            }
            #info-varios > ul > li{
                display: flex;
            }

/* -------------------------- Segunda Seccion ------------------------------- */
#segunda-seccion{
    background-color: var(--color-secundario);
    filter: drop-shadow(10px 10px var(--color-principal-sombra));
    display: flex;
    flex-direction: column;
    margin: 0 1rem .5rem 1rem;
    padding: 1rem;
    border-radius: 1rem;
}
        #contenedor-opciones > ul{
            display: flex;
            width: 43.75rem;
        }
            #contenedor-opciones > ul > li{
                margin-right: 1rem;
                display: flex;
            }
                #contenedor-opciones > ul > li > button{
                    color: var(--color-fuente-principal);
                    font-size: 1.5rem;
                    background: none;
                    border-top: none;
                    border-left: none;
                    border-right: none;
                    border-bottom: 2px solid var(--color-fuente-principal);
                }
                #contenedor-opciones > ul > li > button:focus{
                    border-bottom: 2px solid orange;
                }
    #segunda-seccion > svg{
        
    }
    #segunda-seccion #lista-horarios{
        display: flex;
        justify-content: space-between;
        width: 700px;
    }
        #lista-horarios > li{
            display: flex;
            width: 40px;
        }


/* -------------------------- Tercera Seccion ------------------------------- */
#tercera-seccion{
    display: flex;
    font-size: 1.3rem;
    margin: 0 1rem;
}
    #contenedor-pronostico-semana{
        display: flex;
    }
        .contenedor-dias{
            background-color: var(--color-secundario);
            filter: drop-shadow(10px 10px var(--color-principal-sombra));
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-width: 120px;
            margin-right: 1rem;
            padding: 1rem;
            border-radius: 1rem;
        }
            .max-min{
                font-size: 1rem;
                display: flex;
            }

/* ------------ Responsive ------------------ */
@media screen and (max-width: 1200px){
    #contenedor-pronostico-semana{
        overflow: scroll;
    }
}